powerdns:
  repo:
    release: master
    keyid: FF389421CBC8B383

  config:
    allow-axfr-ips: '127.0.0.0/8,::1'
    api: yes
    api-key: d34db33f
    webserver: yes
    webserver-port: 8081

    launch: gmysql
    gmysql-host: localhost
    gmysql-port: 3306
    gmysql-user: pdns
    gmysql-password: mys3cr3tdbp4ssw0rd
    gmysql-dnssec: yes
